body
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	
	background-color: black;
	color: white;
	
	max-width: 1000px;
	margin: auto;
}

code
{
	overflow: auto !important; /* 'Bugfix' (aka: I don't understand what's happening.) */
}

a
{
	color: #A0A0A0;
	text-decoration: none;
}

a:hover
{
	color: #FFFFFF;
}

/****************************************************************
* Navbar */

#NavBar
{
	display: block;
	list-style-type: none
}

#NavBar ul
{
	display: inline-block;
	margin: 0;
	width: 100%;
}

#NavBar li
{
	display: inline-block;
	padding: 1em;
	margin: 0;
	
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	
	transition: background 0.4s;
}

#NavBar li:hover
{
	background: #151515;
	
	transition: background 0.4s;
}

#NavBar li.selected
{
	background: #191919;
	position: relative;
	top: 1px; /* Hide underlying content border */
	
	font-weight: bold;
	
	border-width: 1px;
	border-style: solid;
	border-color: #A0A0A0;
	border-bottom-style: none;
}

#NavBar li.selected:hover
{
}

/****************************************************************/

content
{
	background: #191919;
	display: block;
	margin: auto;
	padding: 1em;
	
	border-width: 1px;
	border-style: solid;
	border-color: #A0A0A0;
	
	border-radius: 8px;
}

figure
{
	width: 80%;
	display: block;
	margin: auto;
	padding: 10px;
}

figure > *
{
	width: 100%;
	display: block;
	margin: auto;
}

footer
{
	text-align: center;
}

.collapse
{
	display:block;
}

.collapse + input
{
	display:none;
}

.collapse + input + *
{
	display:none;
}

.collapse+ input:checked + *
{
	display:block;
}

hr
{
	border: 0;
	height: 1px;
	margin: 150px;
	margin-top: 35px;
	margin-bottom: 30px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(160, 160, 160, 0.75), rgba(0, 0, 0, 0));
}