* {
	margin: 0;
	padding: 0;
}

html
{
	background-color: black;
	
	padding: 0;
}

body
{
	display: grid;
	grid-template-rows: 4.75rem 3rem auto 1rem;
	grid-template-areas: 
		"header"
		"navbar"
		"content"
		"footer";
	
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.02em;
	
	background-color: #191919;
	color: white;
	
	max-width: 1250px;
	min-height: 100vh;
	margin: 0 auto;
	padding-bottom: 0.5em;
	
	font-size: 100%;
}

h1
{
	font-size: 3em;
	padding: 0em;
	
	color: #808080;
}

a
{
	color: #A0A0A0;
	text-decoration: none;
}

a:hover
{
	color: #FFFFFF;
}

header 
{
	grid-area: header;
	background: #191919;
}

header h1
{
	letter-spacing: 0.025em;
	text-align: center;
	padding: 15px;
	text-transform: uppercase;
}

/****************************************************************
* Navbar */

navbar
{
	grid-area: navbar;
	
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-areas: "nav . links";
		
	background-color: #404040;

	text-transform: capitalize;
    letter-spacing: 0.03em;
}

#nav {
	grid-area: nav;
}

#links {
	grid-area: links;
	justify-self: end;
}

navbar ul
{
	display: inline;
	list-style-type: none;
	
	margin: 0;
	height: 3em;
}

navbar li
{
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0;
	
	line-height: 3em;
	font-weight: bold;
	transition: background 0.3s;
}

navbar li:hover
{
	background-color: #303030;
	
	transition: background 0.3s;
}

navbar li a
{
	display: inline-block;
	width: 100%;
	height: 100%;
}

#links img
{
	height: 20px;
	padding: 5px;
	vertical-align: middle;
}

/****************************************************************/


h2
{
	text-transform: capitalize;
	font-size: 2em;
	letter-spacing: 0.025em;
	
	padding: 0px;
	margin: 0px;
}

content
{
	grid-area: content;
	
	background: #191919;
	display: block;
	margin: 0;
	padding: 2em;
}

content > div
{
	visibility: hidden;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: visibility 0s, opacity 0.4s linear;
}

content > div > img
{
	display:block; 
	margin:auto; 
	border-radius: 8px;
	box-shadow: 0 1px 5px #000000;
}


ul.FigureList
{
	width: 80%;
	margin: auto;
	text-align: center;
	list-style-type: none;
}

ul.FigureList_Col2
{
	width: 80%;
	margin: auto;
	text-align: center;
	list-style-type:none;
    -moz-column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-count: 2;
    -webkit-column-gap: 30px;
    column-count: 2;
    column-gap: 30px;
}

figure
{
	width: 100%;
	display: inline-block;
	margin: auto;
	padding-bottom: 15px;
	padding-top: 15px;
}

figure > *
{
	width: 100%;
	height: auto;
	max-width: 100%;
	display: block;
	margin: auto;
}

figure > img
{
	border-radius: 8px;
	box-shadow: 0 1px 5px #000000;
	max-width: 100%;
	max-height: 100%;
}

figcaption
{
	margin: 5px;
}

footer
{
	grid-area: footer;
	
	text-align: center;
	font-size: small;
	color: #808080;
}

.collapse
{
	max-height: 2000px;
	opacity: 1;
	transition: opacity 1s, max-height 1s ease;
}

.collapse + input
{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 1s, max-height 1s ease;
}

.collapse + input + *
{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 1s, max-height 1s ease;
}

.collapse + input:checked + *
{
	max-height: 2000px;
	opacity: 1;
	transition: opacity 1s, max-height 1s ease;
}

hr
{
	border: 0;
	height: 1px;
	margin: 150px;
	margin-top: 35px;
	margin-bottom: 30px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(160, 160, 160, 0.75), rgba(0, 0, 0, 0));
}
