<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link
			href="https://fonts.googleapis.com/css?family=Lato"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="css/default_style.css" />
		<title>Sen's Homepage</title>
	</head>
	<body>
		<header>
			<h1>Sen's Homepage</h1>
		</header>

		<navbar>
			<ul id="nav">
				<li id="index"><a href="index.html">Home</a></li>
				<li id="projects"><a href="projects.html">Projects</a></li>
				<li id="experience">
					<a href="experience.html">Experience</a>
				</li>
				<li id="hobbies"><a href="hobbies.html">Hobbies</a></li>
			</ul>

			<ul id="links">
				<li>
					<a href="https://github.com/Senryoku/">
						<img
							alt="GitHub Logo"
							src="data/img/GitHub-Mark-Light-32px.webp"
						/>
						GitHub
					</a>
				</li>
				<li>
					<a href="https://twitter.com/Senryoku_">
						<img
							alt="Twitter Logo"
							src="data/img/TwitterLogo.webp"
						/>
						Twitter
					</a>
				</li>
				<li>
					<a
						href="https://www.youtube.com/channel/UCK7AMaH94nVYP1Jb4ZnoVQw/feed"
					>
						<img
							alt="YouTube Logo"
							src="data/img/YouTube-icon-full_color.webp"
						/>
						YouTube
					</a>
				</li>
			</ul>
		</navbar>

		<content>